<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Sign Up</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="signUpForm">

              <!-- FIRST NAME  -->
              <div class="form-group pt-3">
                <div
                  [class.error]="
                    signUpForm.controls['FirstName'].dirty &&
                    signUpForm.hasError('required', 'FirstName')"
                  class="input-field"
                >
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="FirstName" type="text" placeholder="Firstname" />
                </div>
              </div>
              <small
                *ngIf="
                  signUpForm.controls['FirstName'].dirty &&
                  signUpForm.hasError('required', 'FirstName')"
                  class="text-danger">*Firstname is required
              </small>

              <!-- LAST NAME  -->
              <div class="form-group pt-3">
                <div
                  [class.error]="
                  signUpForm.controls['LastName'].dirty &&
                  signUpForm.hasError('required', 'LastName')" 
                  class="input-field">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="LastName" type="text" placeholder="Lastname" />
                </div>
              </div>
              <small
              *ngIf="
                signUpForm.controls['LastName'].dirty &&
                signUpForm.hasError('required', 'LastName')"
                class="text-danger">*Lastname is required
              </small>

              <!-- EMAIL  -->
              <div class="form-group pt-3">
                <div 
                  [class.error]="
                  signUpForm.controls['Email'].dirty &&
                  signUpForm.hasError('required', 'Email')"
                  class="input-field">
                  <span class="fa fa-envelope p-2"></span>
                  <input formControlName="Email" type="text" placeholder="Email" />
                </div>
              </div>
              <small
              *ngIf="
                signUpForm.controls['Email'].dirty &&
                signUpForm.hasError('required', 'Email')"
                class="text-danger">*Email is required
              </small>

              <!-- USER NAME  -->
              <div class="form-group pt-3">
                <div 
                  [class.error]="
                  signUpForm.controls['UserName'].dirty &&
                  signUpForm.hasError('required', 'UserName')"
                  class="input-field">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="UserName" type="text" placeholder="User Name" />
                </div>
              </div>
              <small
              *ngIf="
                signUpForm.controls['UserName'].dirty &&
                signUpForm.hasError('required', 'UserName')"
                class="text-danger">*Username is required
              </small>

              <!-- Password  -->
              <div class="form-group pt-3">
                <div
                  [class.error]="
                  signUpForm.controls['Password'].dirty &&
                  signUpForm.hasError('required', 'Password')" 
                  class="input-field">
                  <span class="fa fa-lock p-2"></span>
                  <input formControlName="Password" [type]="type" placeholder="Password" />
                  <span
                    (click)="hideShowPass()"
                    class="fa {{ eyeIcon }}"
                  ></span>
                </div>
              </div>
              <small
              *ngIf="
                signUpForm.controls['Password'].dirty &&
                signUpForm.hasError('required', 'Password')"
                class="text-danger">*Password is required
              </small>

              <button
                (click)="onSignup()"
                type="submit"
                class="btn btn-primary btn-block mt-4 w-100"
              >
                Sign Up
              </button>
              <div class="text-center pt-4 text-muted">
                Already have account?
                <a id="forget" routerLink="/login">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
